@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
html, body, html * {
  font-family: 'Roboto', sans-serif;
}

*{
    box-sizing: border-box;
}

body{
    margin:0;
    font-size: 1.3rem;
}

h1{
    font-size:3rem;
}

.container{
    width:80%;
    margin: 0 auto;
    max-width: 1000px;
}



.hero{
    padding:100px 0;
    background-color: #23424a;
    color:#fff;
}

.hero_text{
    width:60%;
}

.hero p {
    margin-bottom: 3em;
}

.btn{
    display: inline-block;
    color: #23424a;
    text-decoration: none;
    font-weight:900;
    text-transform: uppercase;
    background-color: #38cfd9;
    padding: .5em 2em;
    border-radius: 100px;
}